@font-face {
  font-family: "Akrobat-Regular";
  src: url(fonts/Akrobat-Regular.otf) format("truetype");
}

@font-face {
  font-family: "Akrobat-ExtraLight";
  src: url(fonts/Akrobat-ExtraLight.otf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

html,
body,
h1 {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

body {
  font-family: "Akrobat-Regular";
}

.nav {
  display: flex;
  position: relative;
}
.nav__title {
  position: absolute;
  top: 50%;
  right: 4%;
}
.main {
  width: 80%;
  margin: 0 auto;
}
.main__list {
  display: flex;
  justify-content: space-between;
}
.main__bnt-title {
  margin: 0 auto;
}
.main__bnt-img {
}
.main__item {
  display: inline-flex;
  flex-direction: column;
}
.footer {
  grid-area: footer;
  text-align: center;
  background: #000;
  line-height: 75px;
}

.footer p {
  color: #fff;
  vertical-align: baseline;
}

.upload-section {
  height: 0;
  visibility: hidden;
  border-bottom: 1px solid gray;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.upload-section_active {
  margin-bottom: 20px;
  visibility: visible;
  height: 100px;
}

.upload-section__input {
  border: 3px solid gray;
  border-radius: 10px;
  padding: 4px;
  font-size: 16px;
}

.upload-section__btn {
  border: 3px solid red;
  border-radius: 10px;
  padding: 4px;
  font-size: 16px;
}

#time-number {
  border: 1px solid gray;
}
